{
    "swagger": "2.0",
    "info": {
        "title": "GDG Foz - To Do Code Lab Android",
        "description": "",
        "contact": {
            "name": "GDG Foz",
            "url": "https://github.com/gdgfoz"
        },
        "version": "1.0.0"
    },
    "host": "todo.api.gdgfoz.org",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/profile": {
            "get": {
                "tags": [
                    "dashboard"
                ],
                "description": "Informa\u00e7\u00f5es do seu perfil",
                "operationId": "api.profile.index",
                "responses": {
                    "200": {
                        "description": "Lista dados do seu perfil",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "400": {
                        "description": "Erro de requi\u00e7\u00e3o, faltando token auth",
                        "schema": {
                            "$ref": "#/definitions/Error_oAuth"
                        }
                    },
                    "401": {
                        "description": "Unauthorized action."
                    }
                },
                "security": [
                    {
                        "api_oauth": [
                            "read:tasks"
                        ]
                    }
                ]
            }
        },
        "/tasks": {
            "get": {
                "description": "Lista todas suas tarefas",
                "responses": {
                    "200": {
                        "description": "Lista todas as tarefas do seu perfil",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_oauth": [
                            "oauth:tasks_read"
                        ]
                    }
                ]
            }
        },
        "/tasks/{id}": {
            "get": {
                "description": "Exibi detalhe de uma unica tarefa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da tarefas",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhe da tarefas",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_oauth": [
                            "oauth:tasks_read"
                        ]
                    }
                ]
            }
        },
        "/tasks/category/{category}": {
            "get": {
                "tags": [
                    "dashboard"
                ],
                "description": "Lista todas suas tarefas relacionadas a uma categoria",
                "operationId": "api.tasks.category",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "description": "Id da categoria que deseja visualizar as tarefas",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista todas as tarefas do seu perfil",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_oauth": [
                            "oauth:tasks_read"
                        ]
                    }
                ]
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "dashboard"
                ],
                "description": "Lista todas as categories",
                "operationId": "api.categories.index",
                "responses": {
                    "200": {
                        "description": "Lista todas as categorias",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Category"
                            }
                        }
                    }
                }
            }
        },
        "/categories/{id}": {
            "get": {
                "description": "Detalhe de uma categoria",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id da categoria",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhe da categoria",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    },
                    "404": {
                        "description": "Categoria n\u00e3o encontrada."
                    }
                },
                "security": [
                    {
                        "api_oauth": [
                            "read:categories"
                        ]
                    }
                ]
            }
        }
    },
    "definitions": {
        "Error_oAuth": {
            "properties": {
                "status": {
                    "type": "string",
                    "enum": [
                        "success",
                        "error"
                    ]
                },
                "error": {
                    "description": "Informa\u00e7\u00f5es do erro",
                    "type": "array"
                }
            }
        },
        "User": {
            "required": [
                "name"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "description": "Seu nome de usuario",
                    "type": "string"
                },
                "createdAt": {
                    "description": "Data de criacao",
                    "type": "dateTime"
                }
            }
        },
        "Task": {
            "required": [
                "categoryId",
                "name"
            ],
            "properties": {
                "categoryId": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "isDone": {
                    "type": "boolean"
                },
                "finalizedAt": {
                    "type": "dateTime"
                },
                "createdAt": {
                    "type": "dateTime"
                },
                "updatedAt": {
                    "type": "dateTime"
                }
            }
        },
        "TaskInclude": {
            "required": [

            ],
            "properties": {
                "category": {
                    "description": "Dentro de cada tarefa, Inclui um objeto com sua respectiva categoria",
                    "type": "string"
                },
                "user": {
                    "description": "Dentro de cada tarefa, Inclui um objeto USER da pessoa que criou a tarefa",
                    "type": "string"
                }
            }
        },
        "Category": {
            "required": [
                "category",
                "src"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "category": {
                    "description": "Nome da categoria",
                    "type": "string"
                },
                "color": {
                    "description": "Cor em HEXADECIMAL da categoria",
                    "type": "string"
                },
                "srcThumb": {
                    "description": "URL do caminho absoluto da imagem destaque que representa essa categoria",
                    "type": "string"
                },
                "srcIcon": {
                    "description": "URL do caminho absoluto do icon que representa essa categoria",
                    "type": "string"
                },
                "createdAt": {
                    "description": "Data de cria\u00e7\u00e3o",
                    "type": "dateTime"
                },
                "updatedAt": {
                    "description": "Data da ultima atualiza\u00e7\u00e3o",
                    "type": "dateTime"
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "api_key",
            "in": "header"
        },
        "api_oauth": {
            "type": "oauth2",
            "in": "header",
            "flow": "accessCode",
            "authorizationUrl": "http://todo.api.gdgfoz.org/api/v1/oauth/dialog",
            "tokenUrl": "http://todo.api.gdgfoz.org/api/v1/oauth/access_token",
            "scopes": {
                "tasks_read": "Permitir leitura de suas tarefas.",
                "tasks_write": "Permitir criar, atualizar e excluir suas tarefas.",
                "categories_read": "Permitir leitura de suas categorias.",
                "categories_write": "Permitir criar, atualizar e excluir suas categorias.",
                "profile_read": "Informa\u00e7\u00f5es basica do seu perfil (nome, email)"
            }
        }
    }
}